:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-image: url("./components/Images/1432866641_preview_background-kalender-keren-4.jpg");
}

h1 {
  font-size: 2.5em; /* 40px/16=2.5em */
  font-family: "Courier New", Courier, monospace;
  color: rgb(1, 51, 75);
}

h2 {
  font-size: 1.5rem; /* 30px/16=1.875em */
  font-family: "Courier New", Courier, monospace;
  color: #1c6dbe;
}

body {
  background-color: black;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  background-image: url("https://image.freepik.com/free-vector/yellow-comic-zoom-lines-background_1017-15136.jpg");
  padding: 10mm;
  width: 300px;
  border: 15px solid#00BFFF;
  padding: 50px;
  margin: 20px;
  text-align: center;
}

.player-name {
  text-decoration: none;
  color: inherit;
}
.player-name:hover {
  color: rgb(125, 10, 233);
}

button {
  border: 2px solid #00bfff;
  background-image: url("https://image.freepik.com/free-vector/yellow-comic-zoom-lines-background_1017-15136.jpg");
  color: #155697;
  padding: 14px 28px;
  font-family: monospace;
  font-size: 16px;
  cursor: pointer;
}
